[Unit]
Description=MIMO-Packet-Forwarder
Documentation=https://github.com/FreakyCy/MIMO-Packet-Forwarder
Wants=network-online.target
After=network-online.target

[Service]
User=packetmultiplexer
Group=packetmultiplexer
ExecStart=/usr/bin/MIMO-Packet-Forwarder
Restart=on-failure

[Install]
WantedBy=multi-user.target
